.appartment-presentation {
  display: flex;
  justify-content: space-between;
}

.appartment-title {
  padding-right: 20px;
}

.appartment-title h1 {
  font-size: 36px;
  font-weight: 500;
}
.appartment-adds {
  display: flex;
  min-width: 200px;
  flex-direction: column;
  justify-content: space-between;
}

.twoCollapses {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

/* Paramétrage du Collapse */

.appartment-collapse {
  font-size: 18px;
  border-radius: 10px;
  width: 47%;
  margin-top: 24px;
}

.appartment-collapse .collapse {
  height: 52px;
  padding: 3px 3.4%;
}

.appartment-collapse .collapse-ul {
  padding: 31px 3.4%;
}

@media screen and (max-width: 768px) {
  .appartment-presentation {
    display: block;
  }
  .twoCollapses {
    display: block;
  }
  .appartment-collapse {
    width: 100%;
  }
}
