.appartment-presentation {
  display: flex;
  justify-content: space-between;
}

.appartment-tag {
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
}

.appartment-tag li {
  background-color: #f66060;
  padding: 5px 25px;
  margin-right: 10px;

  border-radius: 5px;
}

.appartment-adds {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.twoCollapses {
  display: flex;
}

.appartment-collapse {
  font-size: 18px;
  border-radius: 5px;
  width: 50%;
}
