.cards {
  list-style: none;
  display: flex;
  border-radius: 25px;
  background-color: #f6f6f6;
  padding: 56px 4%;
  margin-bottom: 43px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 23.6vw;
  width: 23.6vw;
  max-width: 340px;
  max-height: 340px;
  min-width: 255px;
  min-height: 255px;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  /* background: linear-gradient(180deg, rgba(246, 96, 96, 1) 0%, #803030 100%); */

  margin-bottom: 50px;
  transition: box-shadow 0.3s ease-out;
}

.card img {
  height: 100%;
  object-fit: cover;
}

.card span {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.card:hover {
  box-shadow: grey 5px 5px 10px;
}

@media screen and (min-width: 2000px) {
  .card {
    height: 17vw;
    width: 17vw;
    max-width: none;
    max-height: none;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    background-color: white;
    padding: 22px 0;
    display: block;
  }

  .card {
    height: 255px;
    min-width: 100%;
    margin-bottom: 20px;
  }
  .card a {
    height: 255px;
    width: 100%;
  }
}
