.cards {
  list-style: none;
  display: flex;

  border-radius: 25px;
  background-color: #f6f6f6;
  padding: 56px 4%;
  margin-bottom: 43px;

  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 50px; */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: end;

  height: 21vw;
  width: 21vw;
  min-width: 255px;
  min-height: 255px;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(246, 96, 96, 1) 0%, #803030 100%);
  padding: 20px;
  margin-bottom: 50px;
  transition: all 0.3s ease-out;
}

.card:hover {
  transform: scale(1.01);
}

@media screen and (max-width: 768px) {
  .cards {
    background-color: white;
    padding: 56px 0;
    display: block;
  }

  .card {
    height: 255px;
    width: 100%;
  }
  .card a {
    height: 255px;
    width: 100%;
  }
}
