.cards {
  list-style: none;
  display: flex;
  border-radius: 25px;
  background-color: #f6f6f6;
  padding: 56px 6%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 340px;
  width: 340px;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(246, 96, 96, 1) 0%, #803030 100%);
  padding: 20px;
}
