.carousel {
  height: 415px;
  overflow: hidden;
  position: relative;
  border-radius: 25px;
  margin-bottom: 30px;
}

.arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.hidden {
  display: none;
}
#left-arrow {
  margin-left: 23px;
  transform: translateY(-50%);
}

#left-arrow:hover {
  transform: translateY(-50%) scale(1.2);
}
#right-arrow {
  right: 0;
  transform: rotate(180deg) translateY(+50%);
  margin-right: 23px;
}
#right-arrow:hover {
  transform: rotate(180deg) translateY(+50%) scale(1.2);
}

.carousel-span {
  color: white;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.carousel-image {
  min-height: 415px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .carousel {
    height: 255px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  .arrow {
    height: 20px;
  }
  .carousel-span {
    display: none;
  }
  #left-arrow {
    margin-left: 6px;
  }
  #right-arrow {
    margin-right: 6px;
  }
  .carousel-image {
    min-height: 255px;
  }
}
