.collapse {
  display: flex;
  height: 47px;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-radius: inherit;
  padding: 3px;
  background-color: #f66060;
  padding: 0 17px;
}

.vector {
  height: 24px;
  transition: 0.3s;
}

.collapse-ul {
  padding: 31px 12px 31px 20px;
  background-color: #f6f6f6;
  /* border: solid 2px black; */
  border-radius: inherit;
}
.collapse-li {
  padding: 0 17px;
}
.vector-up {
  transform: rotate(180deg);
  transition: all ease-in-out 0.3s;
}
