.collapse {
  display: flex;
  /* height: 47px; */
  justify-content: space-between;
  align-items: center;
  color: white;
  border-radius: inherit;
  /* padding: 3px 1.7%; */
  background-color: #f66060;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.collapse:hover {
  transform: scale(1.01);
}

.vector {
  height: 24px;
  transition: 0.3s;
}

.collapse-ul {
  /* position: absolute; */
  /* padding: 31px 1.7%; */
  background-color: #f6f6f6;
  border-radius: inherit;
}
.collapse-li {
  font-weight: 400;
}
.vector-up {
  transform: rotate(180deg);
  transition: all ease-in-out 0.3s;
}
