.error {
  text-align: center;
  color: #f66060;
  height: calc(100vh - 150px);
}

.error h1 {
  font-size: 28.8vw;
  margin-top: 150px;
}

.error p {
  margin-top: 66px;
  margin-bottom: 180px;
  font-size: 36px;
}

.error a {
  color: #f66060;
  font-size: 18px;
}
