.banner {
  position: relative;
  display: flex;
  justify-content: center;
  height: 223px;
  border-radius: 25px;
  margin-top: 23px;
  padding: 0 5%;
  background-color: black;
  background: url("../assets/images/home-banner.jpg") right/cover;
  margin-bottom: 43px;
}

.banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.302);
  border-radius: 25px;
}

.banner > p {
  z-index: 1;
  margin: auto;
  font-size: 48px;
  color: white;
}
