.appartment-hostname {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.disk {
  display: inline-block;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-color: #c4c4c4;
  margin-left: 10px;
}
.appartment-name {
  text-align: right;
  justify-self: end;
}
.appartment-name p {
  font-size: 18px;
  align-self: flex-start;
  padding-top: 5px;
}
