@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato-Regular.ttf");
}

body {
  margin: 0;
  padding: 0 7%;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: #f66060;
}

ul {
  list-style: none;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

p,
h1 {
  margin: 0;
}

h1 {
  font-size: 36px;
}
