@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato-Regular.ttf");
}

body {
  margin: 0;
  padding: 0 7%;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  color: #f66060;
}

ul {
  list-style: none;
  background-color: #f6f6f6;
}
