nav a {
  display: inline-block;
  color: #ff6060;
  padding: 14px 28px;
  font-size: 24px;
  transition: 0.3s all ease-in-out;
}

nav a:hover {
  font-weight: bolder;
}

nav a:last-child {
  padding-right: 0;
}

.page-not-selected {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  nav a {
    font-size: 12px;
    padding: 10px;
    text-transform: uppercase;
  }
}
